### Import the file from excel and save to a dataframe

In [107]:
import pandas as pd

df = pd.read_excel (r'C:\Users\Tijesunimi2-PC\Documents\10academy_Telecommunication\Week2_challenge_data_source.xlsx')
df

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,13114483460844900352,2019-04-04 12:01:18,770.0,2019-04-25 14:35:31,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,36749741.0,308879636.0
1,13114483482878900224,2019-04-09 13:04:04,235.0,2019-04-25 08:15:48,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,53800391.0,653384965.0
2,13114483484080500736,2019-04-09 17:42:11,1.0,2019-04-25 11:58:13,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,27883638.0,279807335.0
3,13114483485442799616,2019-04-10 00:31:25,486.0,2019-04-25 07:36:35,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,43324218.0,846028530.0
4,13114483499480700928,2019-04-12 20:10:23,565.0,2019-04-25 10:40:32,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,38542814.0,569138589.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7277825670196679680,2019-04-29 07:28:42,451.0,2019-04-30 06:02:33,214.0,81230.0,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,57628851.0,574175259.0
149997,7349883264234609664,2019-04-29 07:28:42,483.0,2019-04-30 10:41:33,187.0,97970.0,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,39135081.0,666648844.0
149998,13114483573367300096,2019-04-29 07:28:43,283.0,2019-04-30 10:46:12,810.0,98249.0,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,34912224.0,592786405.0
149999,13114483573367300096,2019-04-29 07:28:43,696.0,2019-04-30 10:40:34,327.0,97910.0,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,29626096.0,371895920.0
150000,,NaT,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,NaN,NaN

### Fill all missing values in the dataset with the mean

In [101]:
df.fillna(df.mean())

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,13114483460844900352,2019-04-04 12:01:18,770.0000,2019-04-25 14:35:31,662.00000,1.823652e+06,2.082014e+14,3.366496e+10,3.552121e+13,9164566995485190,...,1.585461e+07,2.501332e+06,8.198936e+06,9.656251e+06,2.780823e+08,1.434415e+07,1.717444e+08,8.814393e+06,3.674974e+07,3.088796e+08
1,13114483482878900224,2019-04-09 13:04:04,235.0000,2019-04-25 08:15:48,606.00000,1.365104e+06,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,2.024740e+07,1.911173e+07,1.833841e+07,1.722713e+07,6.087501e+08,1.170709e+06,5.269042e+08,1.505514e+07,5.380039e+07,6.533850e+08
2,13114483484080500736,2019-04-09 17:42:11,1.0000,2019-04-25 11:58:13,652.00000,1.361762e+06,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,1.972566e+07,1.469958e+07,1.758779e+07,6.163408e+06,2.295846e+08,3.956300e+05,4.106926e+08,4.215763e+06,2.788364e+07,2.798073e+08
3,13114483485442799616,2019-04-10 00:31:25,486.0000,2019-04-25 07:36:35,171.00000,1.321509e+06,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,2.138812e+07,1.514664e+07,1.399465e+07,1.097942e+06,7.995382e+08,1.084972e+07,7.490399e+08,1.279728e+07,4.332422e+07,8.460285e+08
4,13114483499480700928,2019-04-12 20:10:23,565.0000,2019-04-25 10:40:32,954.00000,1.089009e+06,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,1.525938e+07,1.896287e+07,1.712458e+07,4.152180e+05,5.277072e+08,3.529801e+06,5.507095e+08,1.391032e+07,3.854281e+07,5.691386e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,7277825670196679680,2019-04-29 07:28:42,451.0000,2019-04-30 06:02:33,214.00000,8.123000e+04,2.082022e+14,3.365069e+10,3.548311e+13,D20434A,...,1.619167e+07,1.176343e+07,1.788370e+07,1.967816e+07,5.266097e+08,9.197207e+06,3.264510e+06,1.348742e+07,5.762885e+07,5.741753e+08
149997,7349883264234609664,2019-04-29 07:28:42,483.0000,2019-04-30 10:41:33,187.00000,9.797000e+04,2.082019e+14,3.366345e+10,3.566051e+13,D10223C,...,1.387723e+07,8.288284e+06,1.935015e+07,2.129315e+07,6.268931e+08,4.735033e+06,7.121804e+08,2.457758e+06,3.913508e+07,6.666488e+08
149998,13114483573367300096,2019-04-29 07:28:43,283.0000,2019-04-30 10:46:12,810.00000,9.824900e+04,2.082017e+14,3.362189e+10,3.572121e+13,T51102A,...,2.266051e+07,1.855903e+06,9.963942e+06,5.065760e+06,5.535395e+08,1.339432e+07,1.211009e+08,1.131473e+07,3.491222e+07,5.927864e+08
149999,13114483573367300096,2019-04-29 07:28:43,696.0000,2019-04-30 10:40:34,327.00000,9.791000e+04,2.082021e+14,3.361962e+10,8.618620e+13,L88342B,...,8.817106e+06,8.305402e+06,3.322253e+06,1.317259e+07,3.525370e+08,2.529475e+06,8.147131e+08,1.406930e+06,2.962610e+07,3.718959e+08
150000,,NaT,499.1882,NaT,498.80088,1.046086e+05,2.082016e+14,4.188282e+10,4.847455e+13,NaN,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08

#### Task 1.1 - Aggregate the Number of xDR sessions,  Session duration,  the total download (DL) and upload (UL) data , the total data volume (in Bytes) during this session for each application (Social Media, Google, Email, YouTube, Netflix, Gaming).

#### Aggregate the Number of xDR sessions

In [102]:
df.groupby('MSISDN/Number')['Bearer Id'].count()

MSISDN/Number
3.360100e+10    1
3.360100e+10    1
3.360100e+10    1
3.360101e+10    1
3.360101e+10    2
               ..
3.379000e+10    1
3.379000e+10    1
3.197021e+12    1
3.370000e+14    1
8.823971e+14    1
Name: Bearer Id, Length: 106856, dtype: int64

#### Aggregate the Session duration

In [103]:
df.groupby('MSISDN/Number')['Dur. (ms)'].sum()

MSISDN/Number
3.360100e+10    116720.0
3.360100e+10    181230.0
3.360100e+10    134969.0
3.360101e+10     49878.0
3.360101e+10     37104.0
                  ...
3.379000e+10      8810.0
3.379000e+10    140988.0
3.197021e+12    877385.0
3.370000e+14    253030.0
8.823971e+14    869844.0
Name: Dur. (ms), Length: 106856, dtype: float64

#### Aggregate the total download (DL) and upload (UL) data

#### To do this, we first need to fill the last missing row of DL and UL

In [104]:
df.groupby('MSISDN/Number')['Total DL (Bytes)','Total UL (Bytes)'].sum()

C:\Users\Tijesunimi2-PC\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

               Total DL (Bytes)  Total UL (Bytes)
MSISDN/Number
3.360100e+10       8.426375e+08        36053108.0
3.360100e+10       1.207552e+08        36104459.0
3.360100e+10       5.566597e+08        39306820.0
3.360101e+10       4.019932e+08        20327526.0
3.360101e+10       1.363130e+09        94280527.0
...                         ...               ...
3.379000e+10       6.879252e+08        26716429.0
3.379000e+10       4.445751e+08        35732243.0
3.197021e+12       1.948281e+08        37295915.0
3.370000e+14       5.396350e+08        56652839.0
8.823971e+14       7.869760e+07        60456049.0

[106856 rows x 2 columns]

#### Average of the two columns "total download (DL) and upload (UL) data"

In [177]:
df['TotalDLandULaverage'] = df[['Total DL (Bytes)','Total UL (Bytes)']].mean(axis=1)
df['TotalDLandULaverage']

0         172814688.5
1         353592678.0
2         153845486.5
3         444676374.0
4         303840701.5
             ...
149996    315902055.0
149997    352891962.5
149998    313849314.5
149999    200761008.0
150000            NaN
Name: TotalDLandULaverage, Length: 150001, dtype: float64

#### Aggregate the total data volume (in Bytes) during this session for each application (Social Media, Google, Email, YouTube, Netflix, Gaming).

In [198]:
df['TotalSocialMediaDataVolume'] = df[['Social Media DL (Bytes)','Social Media UL (Bytes)']].mean(axis=1)
df['TotalGoogleDataVolume'] = df[['Google DL (Bytes)','Google UL (Bytes)']].mean(axis=1)
df['TotalEmailDataVolume'] = df[['Email DL (Bytes)','Email UL (Bytes)']].mean(axis=1)
df['TotalYoutubeDataVolume'] = df[['Youtube DL (Bytes)','Youtube UL (Bytes)']].mean(axis=1)
df['TotalNetflixDataVolume'] = df[['Netflix DL (Bytes)','Netflix UL (Bytes)']].mean(axis=1)
df['TotalGamingDataVolume'] = df[['Gaming DL (Bytes)','Gaming UL (Bytes)']].mean(axis=1)

concatenate = pd.concat([df['TotalSocialMediaDataVolume'], df['TotalGoogleDataVolume'], df['TotalEmailDataVolume'],
                        df['TotalYoutubeDataVolume'], df['TotalNetflixDataVolume'], df['TotalGamingDataVolume']], axis=1)
concatenate

,TotalSocialMediaDataVolume,TotalGoogleDataVolume,TotalEmailDataVolume,TotalYoutubeDataVolume,TotalNetflixDataVolume,TotalGamingDataVolume
0,7.850925e+05,1.452956e+06,1.850652e+06,9.177972e+06,8.927594e+06,1.462132e+08
1,9.666390e+05,2.207048e+06,4.686925e+05,1.967956e+07,1.778277e+07,3.049604e+08
2,8.631385e+05,5.114560e+06,1.681562e+06,1.721262e+07,1.187560e+07,1.149901e+08
3,3.287465e+05,5.905880e+06,1.035492e+06,1.826738e+07,7.546294e+06,4.051939e+08
4,4.563940e+05,3.874422e+06,1.055174e+06,1.711113e+07,8.769900e+06,2.656185e+08
...,...,...,...,...,...,...
149996,1.758532e+06,6.392457e+06,3.454380e+05,1.397755e+07,1.878093e+07,2.679034e+08
149997,1.176090e+06,2.207680e+06,1.060859e+06,1.108276e+07,2.032165e+07,3.158140e+08
149998,6.301195e+05,3.292734e+06,1.029138e+06,1.225821e+07,7.514851e+06,2.834669e+08
149999,4.115545e+05,3.878634e+06,1.425457e+06,8.561254e+06,8.247421e+06,1.775332e+08
150000,9.141251e+05,3.903647e+06,1.129551e+06,1.132174e+07,1.131430e+07,2.151666e+08

#### Start by identifying the top 10 handsets used by the customers.

In [97]:
df.groupby('Handset Type')['MSISDN/Number'].count().sort_values(ascending=False).head(10)

Handset Type
Huawei B528S-23A                19727
Apple iPhone 6S (A1688)          9413
Apple iPhone 6 (A1586)           9012
undefined                        8931
Apple iPhone 7 (A1778)           6304
Apple iPhone Se (A1723)          5176
Apple iPhone 8 (A1905)           4985
Apple iPhone Xr (A2105)          4562
Samsung Galaxy S8 (Sm-G950F)     4480
Apple iPhone X (A1901)           3810
Name: MSISDN/Number, dtype: int64

#### Then, identify the top 3 handset manufacturers

In [98]:
df.groupby(['Handset Manufacturer'])['MSISDN/Number'].count().sort_values(ascending=False).head(3)

Handset Manufacturer
Apple      59464
Samsung    40579
Huawei     34366
Name: MSISDN/Number, dtype: int64

#### Next, identify the top 5 handsets per handset manufacturer

In [99]:
df.groupby(['Handset Manufacturer','Handset Type'])['MSISDN/Number'].count().sort_values(ascending=False).head(9)

Handset Manufacturer  Handset Type
Huawei                Huawei B528S-23A                19727
Apple                 Apple iPhone 6S (A1688)          9413
                      Apple iPhone 6 (A1586)           9012
undefined             undefined                        8931
Apple                 Apple iPhone 7 (A1778)           6304
                      Apple iPhone Se (A1723)          5176
                      Apple iPhone 8 (A1905)           4985
                      Apple iPhone Xr (A2105)          4562
Samsung               Samsung Galaxy S8 (Sm-G950F)     4480
Name: MSISDN/Number, dtype: int64

#### Make a short interpretation and recommendation to marketing teams

### Task 1.2 - Conduct an exploratory data analysis on those data & communicate useful insights. Ensure that you identify and treat all missing values and outliers in the dataset by replacing by the mean of the corresponding column.

#### Getting the minimum value, the maximum value, the average, the 1st, 2nd & 3rd quartile for the Number of xDR sessions

In [189]:
print("Minimum", df.groupby('MSISDN/Number')['Bearer Id'].count().sort_values(ascending=True).head(1))
print("")
print("Maximum", df.groupby('MSISDN/Number')['Bearer Id'].count().sort_values(ascending=False).head(1))
print("")
print("Average", df.groupby('MSISDN/Number')['Bearer Id'].count().mean())

Minimum MSISDN/Number
3.360100e+10    1
Name: Bearer Id, dtype: int64

Maximum MSISDN/Number
3.362632e+10    18
Name: Bearer Id, dtype: int64

Average 1.393791644830426

#### Getting the minimum value, the maximum value, the average, the 1st, 2nd & 3rd quartile for the Session duration

In [190]:
print("Minimum", df.groupby('MSISDN/Number')['Dur. (ms)'].sum().sort_values(ascending=True).head(1))
print("")
print("Maximum", df.groupby('MSISDN/Number')['Dur. (ms)'].sum().sort_values(ascending=False).head(1))
print("")
print("Average", df.groupby('MSISDN/Number')['Dur. (ms)'].sum().mean())

Minimum MSISDN/Number
3.376351e+10    7142.0
Name: Dur. (ms), dtype: float64

Maximum MSISDN/Number
3.362578e+10    18553754.0
Name: Dur. (ms), dtype: float64

Average 146167.1563225275

#### Getting the minimum value, the maximum value, the average, the 1st, 2nd & 3rd quartile for the average of the total download (DL) and upload (UL) data

In [187]:
print("Minimum", df.groupby('MSISDN/Number')['TotalDLandULaverage'].sum().sort_values(ascending=True).head(1))
print("")
print("Maximum", df.groupby('MSISDN/Number')['TotalDLandULaverage'].sum().sort_values(ascending=False).head(1))
print("")
print("Average", df.groupby('MSISDN/Number')['TotalDLandULaverage'].sum().mean())

Minimum MSISDN/Number
3.365920e+10    16624504.5
Name: TotalDLandULaverage, dtype: float64

Maximum MSISDN/Number
3.361489e+10    4.423113e+09
Name: TotalDLandULaverage, dtype: float64

Average 345481051.6538753

#### Getting the minimum value, the maximum value, the average, the 1st, 2nd & 3rd quartile for the total data volume (in Bytes) of Social Media

In [199]:
print("Minimum", df.groupby('MSISDN/Number')['TotalSocialMediaDataVolume'].sum().sort_values(ascending=True).head(1))
print("")
print("Maximum", df.groupby('MSISDN/Number')['TotalSocialMediaDataVolume'].sum().sort_values(ascending=False).head(1))
print("")
print("Average", df.groupby('MSISDN/Number')['TotalSocialMediaDataVolume'].sum().mean())

Minimum MSISDN/Number
3.366119e+10    781.5
Name: TotalSocialMediaDataVolume, dtype: float64

Maximum MSISDN/Number
3.362632e+10    21687389.5
Name: TotalSocialMediaDataVolume, dtype: float64

Average 1273983.4080070376

#### Getting the minimum value, the maximum value, the average, the 1st, 2nd & 3rd quartile for the total data volume (in Bytes) of Google

In [200]:
print("Minimum", df.groupby('MSISDN/Number')['TotalGoogleDataVolume'].sum().sort_values(ascending=True).head(1))
print("")
print("Maximum", df.groupby('MSISDN/Number')['TotalGoogleDataVolume'].sum().sort_values(ascending=False).head(1))
print("")
print("Average", df.groupby('MSISDN/Number')['TotalGoogleDataVolume'].sum().mean())

Minimum MSISDN/Number
3.368727e+10    20165.0
Name: TotalGoogleDataVolume, dtype: float64

Maximum MSISDN/Number
3.362632e+10    76095926.0
Name: TotalGoogleDataVolume, dtype: float64

Average 5441217.209234858

#### Getting the minimum value, the maximum value, the average, the 1st, 2nd & 3rd quartile for the total data volume (in Bytes) of Email

In [201]:
print("Minimum", df.groupby('MSISDN/Number')['TotalEmailDataVolume'].sum().sort_values(ascending=True).head(1))
print("")
print("Maximum", df.groupby('MSISDN/Number')['TotalEmailDataVolume'].sum().sort_values(ascending=False).head(1))
print("")
print("Average", df.groupby('MSISDN/Number')['TotalEmailDataVolume'].sum().mean())

Minimum MSISDN/Number
3.365114e+10    9088.0
Name: TotalEmailDataVolume, dtype: float64

Maximum MSISDN/Number
3.362632e+10    21209391.0
Name: TotalEmailDataVolume, dtype: float64

Average 1574397.905419443

#### Getting the minimum value, the maximum value, the average, the 1st, 2nd & 3rd quartile for the total data volume (in Bytes) of Youtube

In [202]:
print("Minimum", df.groupby('MSISDN/Number')['TotalYoutubeDataVolume'].sum().sort_values(ascending=True).head(1))
print("")
print("Maximum", df.groupby('MSISDN/Number')['TotalYoutubeDataVolume'].sum().sort_values(ascending=False).head(1))
print("")
print("Average", df.groupby('MSISDN/Number')['TotalYoutubeDataVolume'].sum().mean())

Minimum MSISDN/Number
3.365817e+10    39451.5
Name: TotalYoutubeDataVolume, dtype: float64

Maximum MSISDN/Number
3.362578e+10    226479384.5
Name: TotalYoutubeDataVolume, dtype: float64

Average 15779199.639547616

#### Getting the minimum value, the maximum value, the average, the 1st, 2nd & 3rd quartile for the total data volume (in Bytes) of Netflix

In [203]:
print("Minimum", df.groupby('MSISDN/Number')['TotalNetflixDataVolume'].sum().sort_values(ascending=True).head(1))
print("")
print("Maximum", df.groupby('MSISDN/Number')['TotalNetflixDataVolume'].sum().sort_values(ascending=False).head(1))
print("")
print("Average", df.groupby('MSISDN/Number')['TotalNetflixDataVolume'].sum().mean())

Minimum MSISDN/Number
3.367759e+10    92284.5
Name: TotalNetflixDataVolume, dtype: float64

Maximum MSISDN/Number
3.365973e+10    199759539.5
Name: TotalNetflixDataVolume, dtype: float64

Average 15769166.154628659

#### Getting the minimum value, the maximum value, the average, the 1st, 2nd & 3rd quartile for the total data volume (in Bytes) of Gaming

In [204]:
print("Minimum", df.groupby('MSISDN/Number')['TotalGamingDataVolume'].sum().sort_values(ascending=True).head(1))
print("")
print("Maximum", df.groupby('MSISDN/Number')['TotalGamingDataVolume'].sum().sort_values(ascending=False).head(1))
print("")
print("Average", df.groupby('MSISDN/Number')['TotalGamingDataVolume'].sum().mean())

Minimum MSISDN/Number
3.366936e+10    153179.0
Name: TotalGamingDataVolume, dtype: float64

Maximum MSISDN/Number
3.361489e+10    3.874716e+09
Name: TotalGamingDataVolume, dtype: float64

Average 299884505.35866964